:host {
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  align-content: stretch;
}
.column-layout {
  display: flex;
  flex-direction: column;
}
.with-auto-layout {
  background-color: rgba(255, 255, 255, 1);
  justify-content: flex-start;
  align-items: center;
  align-content: flex-start;
  position: relative;
  width: 1920px;
  height: 100%;
  min-width: 1920px;
  min-height: 4628px;
}
.row-layout {
  display: flex;
}
.navigation-section {
  background-color: rgba(237, 237, 237, 1);
  justify-content: center;
  align-items: center;
  align-content: flex-start;
  position: relative;
  padding: 16px 64px;
  width: 100%;
  height: 80px;
  min-width: 1920px;
  min-height: 80px;
}
.navigation-wrapper {
  justify-content: space-between;
  align-items: center;
  align-content: flex-start;
  position: relative;
  width: 1400px;
  height: 100%;
  min-width: 1400px;
  min-height: 48px;
}
.branding {
  justify-content: flex-start;
  align-items: center;
  align-content: flex-start;
  position: relative;
  width: 14.6%;
  height: 83.3%;
  min-width: 205px;
  min-height: 40px;
}
.navigation-links {
  justify-content: flex-start;
  align-items: center;
  align-content: flex-start;
  position: relative;
  width: 25.4%;
  height: 50%;
  min-width: 356px;
  min-height: 24px;
}
.actions {
  justify-content: flex-start;
  align-items: center;
  align-content: flex-start;
  position: relative;
  width: 21.6%;
  height: 100%;
  min-width: 302px;
  min-height: 48px;
}
.frame-50 {
  border-color: rgba(189, 189, 189, 1);
  border-width: 1px;
  border-style: solid;
  justify-content: center;
  align-items: center;
  align-content: flex-start;
  position: relative;
  margin: 0 16px 0 0;
  padding: 16px;
  width: 27.5%;
  height: 100%;
  min-width: 83px;
  min-height: 48px;
}
.frame-51 {
  background-color: rgba(66, 66, 66, 1);
  justify-content: center;
  align-items: center;
  align-content: flex-start;
  position: relative;
  margin: 0 18px 0 0;
  padding: 16px;
  width: 50%;
  height: 100%;
  min-width: 151px;
  min-height: 48px;
}
.hero-section {
  background-color: rgba(28, 28, 28, 0.20000000298023224);
  justify-content: center;
  align-items: center;
  align-content: flex-start;
  position: relative;
  padding: 64px;
  width: 1920px;
  height: calc(10.400000000000006% - 80px);
  min-width: 1920px;
  min-height: 400px;
}
.frame-29 {
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
  position: relative;
  margin: 0 0 16px;
  width: 850px;
  height: 272px;
  min-width: 850px;
  min-height: 272px;
}
.features-overview {
  background-color: rgba(255, 255, 255, 1);
  justify-content: flex-start;
  align-items: center;
  align-content: flex-start;
  position: relative;
  padding: 64px;
  width: 1920px;
  height: calc(15% - 80px);
  min-width: 1920px;
  min-height: 613px;
}
.frame-31 {
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
  position: relative;
  margin: 0 0 64px;
  width: 1400px;
  height: 100%;
  min-width: 1400px;
  min-height: 485px;
}
.frame-27 {
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
  position: relative;
  margin: 0 0 64px;
  width: 1400px;
  height: 28.2%;
  min-width: 1400px;
  min-height: 137px;
}
.frame-32 {
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
  position: relative;
  margin: 0 0 64px;
  width: 100%;
  height: 58.6%;
  min-width: 1400px;
  min-height: 284px;
}
.frame-23 {
  background-color: rgba(189, 189, 189, 1);
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
  position: relative;
  margin: 0 64px 0 0;
  padding: 32px;
  width: 302px;
  height: 100%;
  min-width: 302px;
  min-height: 284px;
}
.rectangle-18 {
  background-color: rgba(33, 33, 33, 1);
  position: relative;
  margin: 0 0 32px;
  width: 42%;
  height: 45.5%;
  min-width: 100px;
  min-height: 100px;
}
.frame-28 {
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
  position: relative;
  margin: 0 0 32px;
  width: 238px;
  height: 40%;
  min-width: 238px;
  min-height: 88px;
}
.feature-section {
  justify-content: flex-start;
  align-items: center;
  align-content: flex-start;
  position: relative;
  padding: 64px;
  width: 1920px;
  height: calc(13.099999999999994% - 80px);
  min-width: 1920px;
  min-height: 528px;
}
.frame-10 {
  justify-content: flex-start;
  align-items: center;
  align-content: flex-start;
  position: relative;
  margin: 0 0 32px;
  width: 1400px;
  height: 100%;
  min-width: 1400px;
  min-height: 400px;
}
.rectangle-16 {
  background-color: rgba(34, 34, 34, 1);
  position: relative;
  margin: 0 64px 0 0;
  width: calc(95.4% - 736px);
  height: 100%;
  min-width: 600px;
  min-height: 400px;
}
.frame-27_1 {
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
  position: relative;
  margin: 0 64px 0 0;
  width: 736px;
  height: 73.5%;
  min-width: 736px;
  min-height: 294px;
}
.frame-50_1 {
  border-color: rgba(189, 189, 189, 1);
  border-width: 1px;
  border-style: solid;
  justify-content: center;
  align-items: center;
  align-content: flex-start;
  position: relative;
  margin: 0 0 24px;
  padding: 16px;
  width: 16.4%;
  height: 16.3%;
  min-width: 121px;
  min-height: 48px;
}
.blogs-section {
  justify-content: flex-start;
  align-items: center;
  align-content: flex-start;
  position: relative;
  padding: 64px;
  width: 1920px;
  height: calc(26.299999999999997% - 80px);
  min-width: 1920px;
  min-height: 1137px;
}
.frame-33 {
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
  position: relative;
  margin: 0 0 64px;
  width: 1400px;
  height: 100%;
  min-width: 1400px;
  min-height: 1009px;
}
.frame-27_2 {
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
  position: relative;
  margin: 0 0 64px;
  width: 1400px;
  height: 13.6%;
  min-width: 1400px;
  min-height: 137px;
}
.frame-34 {
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
  position: relative;
  margin: 0 0 64px;
  width: 100%;
  height: 36.9%;
  min-width: 1400px;
  min-height: 372px;
}
.frame-13 {
  background-color: rgba(224, 224, 224, 1);
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
  position: relative;
  margin: 0 64px 0 0;
  width: 668px;
  height: 100%;
  min-width: 668px;
  min-height: 372px;
}
.rectangle-16_1 {
  background-color: rgba(15, 14, 14, 1);
  position: relative;
  width: 100%;
  height: 51.6%;
  min-width: 668px;
  min-height: 192px;
}
.frame-28_1 {
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
  position: relative;
  padding: 32px;
  width: 668px;
  height: 48.4%;
  min-width: 668px;
  min-height: 180px;
}
.plans-section {
  justify-content: flex-start;
  align-items: center;
  align-content: flex-start;
  position: relative;
  padding: 64px;
  width: 1920px;
  height: calc(16.299999999999997% - 80px);
  min-width: 1920px;
  min-height: 673px;
}
.frame-37 {
  justify-content: flex-start;
  align-items: center;
  align-content: flex-start;
  position: relative;
  margin: 0 0 64px;
  width: 1400px;
  height: 100%;
  min-width: 1400px;
  min-height: 545px;
}
.frame-36 {
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
  position: relative;
  margin: 0 0 64px;
  width: 1400px;
  height: 25.1%;
  min-width: 1400px;
  min-height: 137px;
}
.plans {
  justify-content: center;
  align-items: flex-start;
  align-content: flex-start;
  position: relative;
  margin: 0 0 64px;
  width: 100%;
  height: 63.1%;
  min-width: 1400px;
  min-height: 344px;
}
.feature-set {
  background-color: rgba(28, 28, 28, 0.20000000298023224);
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
  position: relative;
  margin: 0 32px 0 0;
  padding: 32px;
  width: 326px;
  height: 100%;
  min-width: 326px;
  min-height: 344px;
}
.frame-48 {
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
  position: relative;
  margin: 0 0 24px;
  width: 262px;
  height: 82.9%;
  min-width: 262px;
  min-height: 232px;
}
.frame-43 {
  justify-content: flex-start;
  align-items: center;
  align-content: flex-start;
  position: relative;
  margin: 0 0 8px;
  width: 100%;
  height: 17.2%;
  min-width: 262px;
  min-height: 40px;
}
.plans-section_1 {
  justify-content: flex-start;
  align-items: center;
  align-content: flex-start;
  position: relative;
  padding: 64px;
  width: 1920px;
  height: calc(16.200000000000003% - 80px);
  min-width: 1920px;
  min-height: 669px;
}
.faq {
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
  position: relative;
  margin: 0 0 64px;
  width: 1400px;
  height: 100%;
  min-width: 1400px;
  min-height: 541px;
}
.accordion {
  overflow-y: auto;
  position: relative;
  margin: 0 0 64px;
  width: 1400px;
  height: 77.6%;
}
.expansion-panel {
  height: max-content;
}
.avatar {
  background-color: #BDBDBDFF;
  --background: none;
  position: relative;
  margin: 0 16px 0 0;
}
.website-name {
  color: #000000FF;
  position: relative;
  margin: 0 16px 0 0;
  width: 72.7%;
  height: max-content;
  min-width: 149px;
}
.link-1 {
  color: #000000FF;
  position: relative;
  margin: 0 24px 0 0;
  width: 14.6%;
  height: max-content;
  min-width: 52px;
}
.sign-in {
  text-align: center;
  color: #000000FF;
  position: relative;
  margin: 0 8px 0 0;
  width: 100%;
  height: max-content;
  min-width: 60px;
}
.create-account {
  text-align: center;
  color: #FFFFFFFF;
  position: relative;
  margin: 0 8px 0 0;
  width: 100%;
  height: max-content;
  min-width: 143px;
}
.content {
  color: #000000FF;
  position: relative;
  margin: 0 0 16px;
  width: 100%;
  height: max-content;
  min-width: 850px;
}
.content_1 {
  color: #000000FF;
  position: relative;
  margin: 0 0 24px;
  width: 100%;
  height: max-content;
  min-width: 1400px;
}
.content_2 {
  color: #000000FF;
  position: relative;
  margin: 0 0 8px;
  width: 100%;
  height: max-content;
  min-width: 238px;
}
.content_3 {
  color: #000000FF;
  position: relative;
  margin: 0 0 24px;
  width: 100%;
  height: max-content;
  min-width: 736px;
}
.learn-more {
  text-align: center;
  color: #000000FF;
  position: relative;
  margin: 0 8px 0 0;
  width: 100%;
  height: max-content;
  min-width: 105px;
}
.content_4 {
  color: #000000FF;
  position: relative;
  margin: 0 0 8px;
  width: 100%;
  height: max-content;
  min-width: 604px;
}
.lorem-ipsum-dolor-sit-amet {
  color: #000000FF;
  position: relative;
  margin: 0 0 24px;
  width: 100%;
  height: max-content;
  min-width: 262px;
}
.icon {
  font-size: 18px;
  width: 18px;
  height: 18px;
  color: #424242FF;
  position: relative;
  margin: 0 16px 0 0;
  min-width: min-content;
}
.lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-etiam-eu-turpis-molestie-dictum-est-a-mattis-tellus-sed-dignissim-metus-nec-fringilla-accumsan-risus-sem-sollicitudin-lacus-ut-interdum-tellus-elit-sed-risus {
  color: #000000FF;
  position: relative;
  margin: 0 16px 0 0;
  width: 87%;
  height: max-content;
  min-width: 228px;
}
.lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit {
  color: #000000FF;
  position: relative;
  margin: 0 0 64px;
  width: 100%;
  height: max-content;
  min-width: 1400px;
}
.button {
  color: #616161FF;
  background-color: #E0E0E0FF;
  position: relative;
  margin: 0 18px 0 0;
}
